{% extends "layouts/main.html" %}

{% block pageTitle %}
Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">What is your or your partner's adjusted net income each year?</h1>
        <p class="govuk-body-l govuk-!-font-weight-bold">How the tax charge works for you or your partner</p>
        <p class="govuk-body">
            There is no tax charge if your and your partner’s individual incomes are less than £50,100 in a year. If
            either of your incomes go over this amount while claiming Child Benefit, one of you may need to pay the High
            Income Child Benefit Charge.
        </p>
        <p class="govuk-body">
            Only one person can get Child Benefit for a child, so you need to decide if you or your partner should
            claim. If one of you is not paying National Insurance because they’re not working or they earn less than
            £242 per week, it might be better for that person to claim.
        </p>
        {{ govukWarningText({
        text: "You must report any change of circumstances to the Child Benefit Office. If you are overpaid Child
        Benefit you might have to pay it back.",
        iconFallbackText: "Warning"
        }) }}

        <p class="govuk-body">Claiming Child Benefit will help to protect your State Pension, and your child will get their National Insurance number automatically at 16.</p>
        

        <form class="form" action="/high-income" method="post">

            {% from "govuk/components/radios/macro.njk" import govukRadios %}
            {% from "govuk/components/input/macro.njk" import govukInput %}
            {% from "govuk/components/select/macro.njk" import govukSelect %}
            {% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
            {% from "govuk/components/details/macro.njk" import govukDetails %}






            {{ govukRadios({
            classes: "govuk-radios",
            name: "high-income-you",
            fieldset: {
            legend: {
            text: "Your net income",
            isPageHeading: false,
            classes: "govuk-fieldset__legend--l"
            }
            },
            hint: {
            text: "Your adjusted net income is your total taxable individual income before any personal allowances. It
            does not include things like Gift Aid.
            Do not combine your household income. "
            },
            items: [

            {
            value: "Below £50,100",
            text: "Below £50,100",
            conditional: {
            html: HICE
            }
            },
            {
            value: "£50,100-£60,000",
            text: "£50,100-£60,000"
            },
            {
            value: "Above £60,000",
            text: "Above £60,000"
            }
            ]
            }) }}




            {{ govukRadios({
            classes: "govuk-radios--inline",
            name: "what-is-your-nationality",
            fieldset: {
            legend: {
            text: "Do you still want to be paid Child Benefit?",
            isPageHeading: false,
            classes: "govuk-fieldset__legend--l"
            }
            },
            items: [

            {
            value: "Yes",
            text: "Yes - I want to be paid Child Benefit, I understand that my partner or I may have to pay an Income
            Tax Charge."
            },
            {
            value: "No",
            text: "No - I do not want to be paid Child Benefits, but I want to protect my State Pension."
            }
            ]
            }) }}



            <!--<p><a href="#">Save and continue later</a></p>-->

            <button class="govuk-button" data-module="govuk-button">Continue</button>

        </form>

    </div>
</div>

{% endblock %}