{% extends "layouts/main.html" %}

{% block pageTitle %}
Home – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

{%- from "govuk/components/tag/macro.njk" import govukTag -%}

<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">

  <h1 class="govuk-heading-xl">
    Prototypes
  </h1>

</div>


  <div class="govuk-grid-column-two-thirds">

    <p><a href="/start">Journey</a></p>

    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

    <h3 class="govuk-heading-l">My claims portal</h3>

    <p>{{govukTag({
      text: "New",
      classes: "govuk-tag--blue"
      })}} <a href="my-claims-portal.html">Claims portal</a></p>

    <p class="govuk-body">This page will show the claims in progress and submitted claims. We need to consider the 14
      day SLA for submitted claims.</p>

    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">


    <h3 class="govuk-heading-l">Waiting to hear</h3>

    <p>{{govukTag({
      text: "New",
      classes: "govuk-tag--blue"
      })}} <a href="waiting-to-hear.html">Waiting to hear if you are eligible </a></p>

    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">


    <h3 class="govuk-heading-l">Tell us your nationality options</h3>

    <p><a href="nationalities.html">Tell us your nationality example with conditonal radio's </a></p>

    <p><a href="nationality.html">Tell us your nationality example with a select</a></p>

    <p><a href="nationality-autocomplete.html">Tell us your nationality example with accessibile autocomplete</a></p>

    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

    <h3 class="govuk-heading-l">High income earner options</h3>

    {% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

    {{ govukInsetText({
    text: "Net income for you and your partner based on your net income. Each answer on your income navigates you to a
    page with information on the charge and if you want to claim Child Benefit."
    }) }}


    <p><a href="your-net-income.html">Your net income</a></p>
    <p><a href="partner-net-income.html">Partner's net income</a></p>

    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

    <h4 class="govuk-heading-m">High income design history iterations</h3>


    <p><a href="hic.html">Tell us if you're a high income earner - showing body copy, and both questions</a></p>

    <p><a href="hic-one.html">Tell us if you're a high income earner - one-thing-per-page</a></p>

    <p><a href="hic-three.html">Tell us if you're a high income earner - one-thing-per-page (removed are you a high
        income earner?)</a></p>

    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

    <h3 class="govuk-heading-l">Find an address</h3>

    <p><a href="postcode.html">Enter your postcode</a></p>

    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">


    <h3 class="govuk-heading-l">Bank, building society or universal credit options</h3>

    <p><a href="bank-payment-details.html">What are your payment details?</a></p>

    <ul class="govuk-list govuk-list--bullet">
      <li><a href="no-bank-details.html">No - UK bank account or building society</a></li>
      <li><a href="bank-account-holders.html">Who are the account holders</a></li>
      <li><a href="bank-details.html">Bank details</a></li>
      <li><a href="building-society-details.html">Building society details</a></li>
    </ul>

    <p><a href="error-bank-details.html">Error summary for the payment details</a></p>

    <p><a href="paid-child-benefit.html">If claimant is on benefits OR martial status single, widowed, separated or divorced</a></p>

    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

    <h3 class="govuk-heading-l">Service timeout</h3>

    <p><a href="service-timeout.html">When the user is signed in</a></p>

    

    <!-- {% include "govuk-prototype-kit/includes/homepage-bottom.njk" %} -->
  </div>
  <div class="govuk-grid-column-one-third">
  
    <div class="gem-c-contextual-sidebar">
  
      <div class="" data-module="gem-track-click ga4-link-tracker" data-gem-track-click-module-started="true"
        data-ga4-link-tracker-module-started="true">
        <h2 class="govuk-heading-m" data-track-count="sidebarRelatedItemSection">
          Related content
        </h2>
  
        <nav role="navigation" class="" aria-labelledby="related-nav-related_items-6f72e62c" data-module="gem-toggle"
          data-gem-toggle-module-started="true">
  
          <ul class="govuk-list">
            <li class=""><a class="govuk-link govuk-link" href="#">Accessibility</a></li>
            <li class=""><a class="govuk-link govuk-link" href="#">Personas</a></li>
            <li class=""><a class="govuk-link govuk-link" href="#">Feedback</a></li>
            <li class=""><a class="govuk-link govuk-link" href="#">Tube map for claimant journey</a></li>
            <li class=""><a class="govuk-link govuk-link" href="#">Beta prototype links</a></li>
  
          </ul>
        </nav>
  
      </div>
    
    </div>
    
        </div>
</div>

{% endblock %}