{% extends "layouts/main.html" %}

{% block pageTitle %}
My portal
{% endblock %}



{% block beforeContent %}

{{ govukBreadcrumbs({
items: [
{
text: "Personal tax account home",
href: "#"
},
{
text: "Your portal",
href: "#"
}
]
}) }}

{% endblock %}

{% block content %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{%- from "govuk/components/tag/macro.njk" import govukTag -%}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      Your claim applications
    </h1>


  </div>

</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds govuk-prototype-kit-common-templates-mainstream-guide-body">



    <p>Below you will find your cases that need completing and information on claims or applications that have been submitted. Use the web chat to speak with a Child Benefits Officer. </p>

    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

    <h2 class="govuk-heading-m">
      Claims in progress
    </h2>


    {{ govukSummaryList({
      rows: [
        {
          key: {
          html: "<a href='#'>Jon Doe</a>
          <p class='govuk-!-font-weight-regular'>01/01/2023<br>
          CB-123450</p>
          <button class='govuk-button govuk-button--secondary' data-module='govuk-button'>
           Continue claim
          </button>"
          },
          actions: {
          items: [
            {
              href: "#",
              html: " <strong class='govuk-tag govuk-tag--grey'>
                Incomplete
              </strong>",
              visuallyHiddenText: "Incomplete"
            }
          ]
          }
        }
      ]
      
      }) }}
  
   

    
    <h2 class="govuk-heading-m">
      Submitted claims
    </h2>

    {{ govukSummaryList({
    rows: [
      {
        key: {
        html: "<a href='#'>Sara Doe</a>
        <p class='govuk-!-font-weight-regular'>12/01/2020<br>
        CB-123451</p>
        <button class='govuk-button govuk-button--secondary' data-module='govuk-button'>
         View claim
        </button>"
        },
        actions: {
        items: [
          {
            href: "#",
            html: "<strong class='govuk-tag govuk-tag--purple'>Received</strong>",
            visuallyHiddenText: "Received"
          }
        ]
        }
      }
    ]
    
    }) }}

    
   

  </div>

  <div class="govuk-grid-column-one-third">

    <aside class="govuk-prototype-kit-common-templates-related-items" role="complementary">
      <h2 class="govuk-heading-m" id="subsection-title">
        Related information
      </h2>
      <nav role="navigation" aria-labelledby="subsection-title">
        <p>Call the Child Benefit helpline if
          you need to speak with us or use
          the chat</p>
        <p>You’ll need:</p>

        <ul class="govuk-list govuk-list--bullet">

          <li>
            National Insurance number
          </li>

        </ul>

        {{ govukInsetText({
        html: "Child Benefit helpline<br>
        Telephone: 0300 200 3100<br>
        Welsh language: 0300 200 1900<br>
        Textphone: 0300 200 3103<br>
        Outside UK: +44 161 210 3086<br>
        Monday to Friday, 8am to 6pm<br>
        Find out about call charges"
        }) }}

        <h3 class="govuk-heading-m" id="subsection-title">
          Online
        </h3>
        <p><a href="https://www.tax.service.gov.uk/ask-hmrc/chat/child-benefit">Ask HMRC online (opens in new tab)</a>
        </p>

        {% from "govuk/components/button/macro.njk" import govukButton %}

        {{ govukButton({
        text: "Begin new claim",
        href: "/start",
        isStartButton: true
        }) }}
      </nav>
    </aside>

  </div>

  </main>
</div>





</div>
</div>

{% endblock %}