{% extends "layouts/main.html" %}

{% block pageTitle %}
  Tell us your nationality – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}



{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/national-insurance" method="post">

        {% from "govuk/components/radios/macro.njk" import govukRadios %}
        {% from "govuk/components/select/macro.njk" import govukSelect %}
        {% from "govuk/components/fieldset/macro.njk" import govukFieldset %}

{{ govukFieldset({
  legend: {
    text: "What is your nationality?",
    classes: "govuk-fieldset__legend--l",
    isPageHeading: true
  }
}) }}




<select id="location-autocomplete">
    <option value="territory:GB" data-additional-synonyms='["Blighty"]'>United Kingdom</option>
    <option value="country:RO" data-additional-synonyms='["Dacia"]'>Romania</option>
  </select>


       
        
      

        <p><a href="#">Save and continue later</a></p>

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}

{% block pageScripts %}
  <script src="/public/javascripts/location-autocomplete.min.js"></script>
  <script type="text/javascript">
    openregisterLocationPicker({
      additionalSynonyms: [
        { name: 'Albion', code: 'country:GB' }
      ],
      defaultValue: '',
      selectElement: document.getElementById('default'),
      url: '../dist/location-autocomplete-graph.json'
    })

    openregisterLocationPicker({
      additionalSynonyms: [
        { name: 'Albion', code: 'country:GB' }
      ],
      defaultValue: 'country:GB',
      selectElement: document.getElementById('preselected'),
      url: '../dist/location-autocomplete-graph.json'
    })
  </script>
{% endblock %}

