{#
For guidance on how to use layouts see:
https://prototype-kit.service.gov.uk/docs/how-to-use-layouts

To show user creditals
    {
      href: "#signon",
      text: "Firstname Lastname"
    }
#}



{% extends "govuk-prototype-kit/layouts/govuk-branded.html" %}


{% block header %}
  {# Set serviceName in config.js. #}
  {{ govukHeader({
    homepageUrl: "/",
    serviceUrl: "#",
    serviceName: "Claim Child Benefit",
    containerClasses: "govuk-width-container",
    navigationClasses: "govuk-header__sign-out-nav",
    navigation: [
    
    {
      href: "index",
      text: "Sign out"
    }
  ]
  }) }}
{% endblock %}

{% block stylesheets %}
  {{ super() }}
  <link rel="stylesheet" href="public/css/location-autocomplete.min.css">  
{% endblock %}
